<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{%= o.htmlWebpackPlugin.options.title %}</title>
</head>
<body id="htmlBody">
	<div class="banner" id="banner">
	</div>
	<div >
		<div class="row" style="margin-right:0px;margin-left:0px">
			<div class="col-xs-2" id="left-side">
				
			</div>
			<div class="col-xs-10" id="main-body">
				
			</div>
		</div>
		<div class="row" style="margin-right:0px;margin-left:0px">
			<div class="col-xs-12" id="footer">
				
			</div>
		</div>
	</div>
</body>
</html>